@import "../../styles/vars.scss";
.header {
  // height: 100px;
  padding: 20px 0 20px 30px;
  h1 {
    text-transform: uppercase;
    color: $logo-grey;
    font-size: 40px;
    span {
      color: $accent-color;
    }
  }
}
